<%- include('../../partials/head.ejs') %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <%- include('../../partials/sidebar.ejs') %>
            </div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-10">
                        <div class=" card card-body my-5 mx-5">
                            <h5 class="text-center">Change Your Password</h5>
                           <form action="/auth/changePassword" method="POST">
                                    <div class="form-group">
                                        <label for="oldPassword">Enter Old Password</label>
                                        <input class="form-control" type="password" name="oldPassword" id="oldPassword">
                                    </div>

                                    <div class="form-group">
                                        <label for="newPassword">Enter New Password</label>
                                        <input class="form-control" type="password" name="newPassword" id="newPassword">
                                    </div>

                                    <div class="form-group">
                                        <label for="confirmPassword">Confirm New Password</label>
                                        <input class="form-control" type="password" name="confirmPassword" id="confirmPassword">
                                    </div>

                                <div class="d-flex justify-content-center">
                                    <input type="submit" class="btn btn-outline-success" value="Update Password">
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
    <%- include('../../partials/footer.ejs') %>
        </body>

        </html>